<!DOCTYPE html>

<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </head>
  <style>
      ul {
        list-style-type: none;
        margin-left: 10px;
        padding: 0;
          }
      .nav-link {
        margin: auto;
        padding: auto;
        color: white;
      }

  </style>
  <body>
    <nav class="navbar fixed-bottom navbar-dark bg-dark" style="width: 100%; margin: auto; border: 2px solid black">
      <ul class="nav justify-content-center">
        <a class="navbar-brand" style=" padding: 2px; font-size: 22px; font-weight:bold" href="/">TG2A</a>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">login</a>
        </li>
      </ul>
    </nav>



    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
