{% extends "TG2A/base.html" %}

{% block title %}{{user_profile}} Profile's{% endblock %}

{% block content %}

<div class="text_center">
  <h1>{{user_profile}}</h1>

</div>

<div id="all_tables">

<h1 style="margin-left:5px">Uploads:</h1>
<div class="column_p">
{% for upload in all_uploads %}
<div class="up_style">

  <img src="{{upload.get_thumbnail}}">
  <div class="text_center">
    <p class="p_base_style">{{upload.title}}</p>

    <a href="{% url 'image_page' upload.id %}">Link</a>
    {% if user_p %}
    <div id="add_style_button"><button type="button" onclick="delete_img('{{upload.id}}')"><span class="material-symbols-outlined">delete</span></button></div>
    {% endif %}
  </div>

</div>
{% endfor %}
</div>
<br>
<br>

<h1 style="margin-left:5px">Favorites:</h1>
<div class="column_p">
{% for f in fav %}
<div class="up_style">

  <img src="{{f.image.get_url}}">
  <div class="text_center">

    <p class="p_base_style">{{f.image.title}}</p>

    <a href="{% url 'image_page' f.image.id %}">Link</a>
    {% if user_p %}
    <div id="add_style_button"><button type="button" onclick="delete_fav('{{f.image.id}}')"><span class="material-symbols-outlined">delete</span></button></div>
    {% endif %}

  </div>

</div>
{% endfor %}
</div>
<br>
</div>
{% csrf_token %}


{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/TG2A/profile.js' %}"></script>
{% endblock %}
