{% extends "TG2A/base.html" %}

{% block title %}TG2A{% endblock %}

{%  block navlink %}
<li class="nav-item">
  <a class="nav-link" href="#" onclick="add_form()">Add</a>
</li>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

{% if error %}
  <div class="error_style">
    <div id="add_style_button"><button type="button" onclick="$('.error_style').hide()"><span class="material-icons md-18">close</span></button></div>
    <p >A error has occour on field:</p>
    {{error}}
  </div>
{% endif %}

<div style="color:white" id="page_content">

<div class="gallery_content">
  <div id="column-1" class="infinite-item">

  </div>
</div>
<div class="gallery_content">
  <div id="column-2" class="infinite-item">

  </div>

</div>
<div class="gallery_content">
  <div id="column-3" class="infinite-item">

  </div>
</div>

</div>

<div>
  <hr style="width:100%; color:white;">
</div>



<div class="background_add">
  <div class="style_content">

  <div id="add_style_button"><button type="button" onclick="add_form()"><span class="material-icons md-18">close</span></button></div>
  <h2>Add new image</h2>

  <form action="/TG2A/add" id="add_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <button type="submit" class="btn btn-secondary" onclick="this.disabled=true,this.form.submit(),add_form();">Submit</button>
  </form>

</div>

</div>


<span id="next_page_num"></span>
{% endblock %}


{% block javascript %}
{% load static %}
<script src="{% static 'js/TG2A/tg2a.js' %}"></script>
{% endblock %}
