{% extends "TG2A/base.html" %}

{% block title %}TG2A{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>

  .gallery_content {
     width:33%;
     margin-left:auto;
     margin-right:auto;
     float:left;
     overflow-x:hidden;




  }



  .infinite-item img {
    padding:2px;
    width: 100% !important;
    height: auto !important;
    max-height:600px;
    max-width:730px;

  }



  #add_image {
    display:none;
    width:40%;
    position:fixed;
    right:25%;
    left:25%;
    bottom:40%;
    margin:auto;

  }

  #add_image2 {
    display:none;
    width:50%;
    height:42%;
    position:fixed;
    right:10%;
    left:10%;
    bottom:34%;
    margin:auto;
    background-color:red;
    border: 2px solid black;

  }

  #b_style {
    background-color: transparent;
    border: black;


  }

  #b_style :hover{
    color:blue;

  }

  #images:hover {
    opacity: 0.9;
    margin: 0.9px;

  }

  #next_page_num{
    display:flex;
    justify-content:center;
    color:red;
    position:relative;
    bottom:0;

  }


  .blur {
  width:100%;
  height:100%;
  pointer-events: none;
  background-size:cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  }






</style>

<div style="color:white" id="page_content">

<div class="gallery_content">
  <div id="column-1" class="infinite-item">

  </div>
</div>
<div class="gallery_content">
  <div id="column-2" class="infinite-item">

  </div>

</div>
<div class="gallery_content">
  <div id="column-3" class="infinite-item">

  </div>
</div>

</div>

<div>
  <hr style="width:100%; color:white;">
</div>

<div id="add_image2">
<button style="position:absolute; right:0" id="b_style" onclick="add_form()"><i class="material-icons">close</i></button>
</div>

<div id="add_image">
  <form action="/TG2A/add" id="add_form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>User: {{request.user}}</h4>
    {{ form.as_p }}
    {{ form.media }}
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>

</div>


<span id="next_page_num"></span>
{% endblock %}


{% block javascript %}
{% load static %}
<script src="{% static 'js/tg2a.js' %}"></script>
{% endblock %}
