{% extends 'login/base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}
<div class="blur" id="background_home_image">
</div>

<div class="background_content">

<div class="style_content">
{% if not request.user.social_auth.get %}
  <form action="/password_change" id="ChangeForm" method="post" class="row g-3 needs-validation" novalidate >
    {% csrf_token %}
    <div class="input_style">
      <label for="old_password" class="form-label">Old Password</label>
      <input type="password" class="form-control {{old_password_validation}}" aria-describedby="oldpassHelp" placeholder="Old Password" id="old_password" name="old_password" required>
      <div id="oldpassHelp" class="form-text">Your old password</div>
      <div class="invalid-feedback" id="old_p_feedback">
        {% if old_password_validation %}
            Wrong password.
        {% endif %}
      </div>
    </div>
    <div class="input_style">
      <label for="new_password1" class="form-label">New Password</label>
      <input type="password" class="form-control" aria-describedby="newpass1Help" placeholder="New Password"  id="password1" name="password1" required>
      <div id="newpass1Help" class="form-text">Passwords must have more than 6 characteres and less than 64!</div>
      <div id="newpass1Help" class="form-text">Passwords must have at least a letter and a number </div>
      <div class="invalid-feedback" id="feedback-pass1">
          Please choose a valid password.
      </div>
    </div>
    <div class="input_style">
      <label for="new_password2" class="form-label">New Password Verification</label>
      <input type="password" class="form-control {{new_password_validation}}" aria-describedby="newpass2Help" placeholder="New Password verification" id="password2" name="password2" required>
      <div id="newpass2Help" class="form-text">Passwords must match!</div>
      <div class="invalid-feedback" id="feedback-pass2">
      </div>

      <div class="input_style">
      <input type="checkbox" class="form-check-input" id="s_pass">
      <label class="form-check-label" for="exampleCheck1">Show Password</label>
      </div>

      <div class="input_style">
        <button class="btn btn-outline-light btn-sm" type="submit">Change password</button>
      </div>
    </div>

  </form>
{% else %}
  <div>
    <p class="p_base_style">Users using third party credentials cannot change their password!. Return to the homepage <a href="/home">here.</a></p>
  </div>
{% endif %}
</div>
</div>
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/login/password_change.js' %}"></script>
{% endblock %}
