{% extends "PTs/layout.html" %}

{% block title %}Home - Hinacio Sant'{% endblock %}

{% block nav %}
<li class="breadcrumb-item active" aria-current="page">Home</li>
<li class="breadcrumb-item"><a href="https://www.hinacio.com/static/resume/Hinacio%20Sant'Ana.pdf">Resume</a></li>
<li class="breadcrumb-item"><a href="/about">About</a></li>
{% endblock %}

{% block content %}
<div class="text_center" id="tdv_index">

  <h1 style="font-size:80px;">Hello,<br>
     My name is Hinacio Sant'</h1>
  <p id="p_desc" style="color:rgb(151, 39, 39)">This portfolio is under restructure.</p>
  <br>
  <br>
  <h4 class="d-grid gap-2 col-4 mx-auto" id="ktp_font"><a class="btn btn-info btn-lg"  href="mailto:me@hinacio.com">Contact me at: me@hinacio.com</a></h4>

</div>
{% endblock %}
