{% extends "TDV/base.html" %}

{% block title %}Add Note{% endblock %}

{% block content %}
<div id="n_div">

  <h1>TDV</h1>


  <form action="/TDV/add_notes" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
    <input type="text" class="form-control" placeholder="Subject" id="subject" name="subject" required>
    <input type="hidden" value="note" id="type" name="type">

  </div>
    <textarea class="form-control" id="text" required name="content" rows="28" cols="50">{{ content }}</textarea>


  <button type="submit" class="btn btn-secondary">Submit</button>
  </form>

</div>

{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}
