<nav class="navbar fixed-bottom navbar-dark bg-dark" style="width: 70%; margin: auto; border: 2px solid black">
  <ul class="nav justify-content-center">
    <a class="navbar-brand" style=" padding: 2px; font-size: 22px; font-weight:bold" href="/">Home</a>
    <li class="nav-item">
      <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/resume">Resume</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Github</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>
</nav>










<div style="float: left;" class="main col-lg-10 col-md-9">

<h1>Add Bullet</h1>

<form action="/TDV/add_notes" method="post">
  {% csrf_token %}
  <input style="width: 18%; float: left;" type="text" class="form-control" placeholder="Title" id="title" name="title" required>
  <input style="width: 18%; float: left;" type="text" class="form-control" placeholder="Subject" id="subject" name="subject" required>
  <input type="hidden" value="bullet" id="type" name="type">
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
<br>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Subject</th>
    <th>Finished</th>
    <th>Time</th>
  </tr>

<form action="/TDV/notes_page" method="post">
  {% csrf_token %}

{% for item in bullet_list %}
  <tr>
    <td>{{item.title}}</td>
    <td>{{item.subject}}</td>

    <td>
      <div class="form-check form-switch">
        {% if item.finished %}
          <input type="hidden" name="{{item.id}}" value='off'>
          <input class="form-check-input" checked type="checkbox" id="checkbox_checked" name="{{item.id}}" value="">
        {% else %}
          <input class="form-check-input" type="checkbox" id="checkbox" name="{{item.id}}">
        {% endif %}
      </div>
    </td>

    <td>{{item.time}}</td>
  </tr>

{% endfor %}
<button type="submit" class="mt-1 btn btn-lg btn-secondary"> Save </button>

</form>
</table>

<form action="/TDV/notes_page" method="post">
  {% csrf_token %}
  <input type="hidden" name="del_b" value="delete_finished_bullets">
  <button type="submit" class="mt-1 btn btn-lg btn-secondary">Delete finished bullets</button>
</form>
</div>
