{% block content %}
  <div class="note_edit_div" style="display: block">
      <div class="background_add">
        <div id="add_style_button"><button type="button" onclick="remove_element('note_edit_div')"><span class="material-icons md-18">close</span></button>
        <button type="button" id="maximize" onclick="maximize('background_add')"><span class="material-icons md-18">crop_square</span></button></div>

        <div class="style_content">

          <h4>Edit Note</h4>
          <form action="/TDV/{{id_n}}/edit" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="{{title}}" required>
            <input type="text" class="form-control" placeholder="Subject" id="subject" value="{{subject}}" name="subject" required>
            <input type="hidden" value="note" id="type" name="type">

          </div>
            <textarea class="form-control" id="text" placeholder="Note" required name="content"  rows="6">{{ content }}</textarea>


          <button type="submit" class="btn btn-secondary">Submit</button>
          </form>

        </div>
      </div>
    </div>

{% endblock %}
