{% extends "TDV/base.html" %}


{% block title %}Notes{% endblock %}

{% block sidebutton %}
<span style="font-size:20px; cursor:pointer; color:white; margin:auto; padding:6px" onclick="openNav()">&#9776;</span>
{% endblock %}

{% block content %}


<div id="n_div">
  <!-- begin of add elements  -->

  <div class="note_add_div">
      <div class="background_add">
        <div id="add_style_button"><button type="button" onclick="remove_element('note_add_div')"><span class="material-icons md-18">close</span></button>
        <button type="button" id="maximize" onclick="maximize('background_add')"><span class="material-icons md-18">crop_square</span></button></div>

        <div class="style_content">

          <h4>Add Note</h4>
          <form action="/TDV/add_notes" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
            <input type="text" class="form-control" placeholder="Subject" id="subject" name="subject" required>
            <input type="hidden" value="note" id="type" name="type">

          </div>
            <textarea class="form-control" id="add_note" placeholder="Note" required name="content" cols="30"  rows="6"></textarea>


          <button type="submit" class="btn btn-secondary">Submit</button>
          </form>

        </div>
      </div>
    </div>

    <div class="note_bullet_div">
        <div class="background_add2">
          <div id="add_style_button"><button type="button" onclick="remove_element('note_bullet_div')"><span class="material-icons md-18">close</span></button></div>

          <div class="style_content" style="margin-bottom: 10px">

              <h4 style="margin:5px">Add Bullet</h4>

              <form action="/TDV/add_notes" method="post">
                {% csrf_token %}
                <input id="input_style" type="text" class="form-control" placeholder="Title" id="title" name="title" required>
                <input id="input_style" type="text" class="form-control" placeholder="Subject" id="subject" name="subject" required>
                <input type="hidden" value="bullet" id="type" name="type">
                <button type="submit" style="margin: 5px" class="btn btn-secondary btn-sm ">Submit</button>
              </form>

          </div>

        </div>
      </div>

<!-- end of add elements  -->

<!-- begin of the Notes elements  -->

  <div class="tab-content" id="tabs-list">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    {% for content in notes_list %}
    <div class="tab-pane fade" id="n{{content.id}}" role="tabpanel" aria-labelledby="n{{content.id}}-tab">
      <div id="title_n">
        <h1>{{content.title}}</h1>
      </div>
      <hr>

        <div class="subject_style">

        <p style="float:left">Subject: {{content.subject}}</p>
        <p id="bottom_p_time">{{content.time}}</p>

        </div>

        <br>
        <br>
        <div class="text_center">

        <h4 id="content_n">{{content.get_markdown|safe}}</h4>
        <br>
        </div>

        <div id="style_p_addbuton" style="top: 31px;">
        <form action="/TDV/add_notes" id="delete_note_form" method="post">
          {% csrf_token %}
          <input type="hidden" name="del_n" value="{{content.id}}" >
          <div id="add_style_button"><button onclick="return confirm('Are you sure you want to delete this item?');" type="submit"><i class="material-icons">delete</i></button></div>
        </form>
        </div>

        <div id="style_p_addbuton" style="top: 31px; right:30px;">
          <div id="add_style_button"><button onclick="edit_note({{content.id}})"><i class="material-icons">edit</i></button></div>
        </div>

      </div>
    {% endfor %}

<!-- end of the Notes elements  -->

<!-- begin of the bullets elements  -->

    <div class="tab-pane fade" id="bullet" role="tabpanel" aria-labelledby="bullet-tab">
      <div class="main col-lg-10 col-md-9" style="padding-bottom: 100px;">


      <br>

      <table class="table table-dark table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Subject</th>
          <th>Finished</th>
          <th>Time</th>
        </tr>
        </thead>
      <form action="/TDV/notes_page" method="post">
        {% csrf_token %}

      <tbody>
      {% for item in bullet_list %}
        <tr>
          {% if item.finished %}

          <td style="color:gray">{{item.title}}</td>
          <td style="color:gray">{{item.subject}}</td>

          <td>
            <div class="form-check form-switch">
                <input type="hidden" name="{{item.id}}" value='off'>
                <input class="form-check-input" checked type="checkbox" id="checkbox_checked" name="{{item.id}}" value="">
              </div>
            </td>
              {% else %}
                <td>{{item.title}}</td>
                <td>{{item.subject}}</td>

                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="checkbox" name="{{item.id}}">
                  </div>
              </td>
              {% endif %}


          <td>{{item.time}}</td>
        </tr>

      {% endfor %}
      <div id="button_p" style="right:0">
      <div id="add_style_button"><button type="submit"><i class="material-icons">save</i></button></div>
      </div>

      </tbody>
      </form>

      <div id="button_p">
      <form action="/TDV/notes_page" method="post">
        {% csrf_token %}
        <input type="hidden" name="del_b" value="delete_finished_bullets">
        <div id="add_style_button"><button type="submit"><i class="material-icons">delete</i></button></div>
      </form>
      </div>

      <div id="button_p" style="right:60px">
        <div id="add_style_button"><button type="submit" onclick="Add_toggle('note_bullet_div')"><i class="material-icons">add</i></button></div>
      </div>

      </table>


    </div>

</div>

</div>
<!-- end of the bullets elements  -->



<!-- begin of sidebar elements  -->

<div id="mySidenav" class="sidenav">
  <div id="title_s">
    <ul class="navbar-nav" >
      <div class="d-flex align-items-start">
      <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <li><h4 class="nav-link" style=" float:left;" id="bullet" name="notes" data-bs-toggle="tab" data-bs-target="#bullet" type="button" role="tab" aria-controls="bullet" aria-selected="false"><i class="bi bi-card-checklist"></i> Bullet</h4>
            <div id="add_style_button"><button type="submit" style="color:gray" onclick="Add_toggle('note_bullet_div')"><i class="material-icons">add</i></button></div>
          </li>

        <p id="style_desc">Use the save button to save alterations  and the delete button to delete finished bullets. </p>

        </div>
        </div>
      </ul>



    </div>
<hr>

<div id="title_s">
  <ul class="navbar-nav">
    <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">

    <li><h4 class="nav-link" style=" float:left;" id="home" name="notes" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false"><i class="bi bi-file-text"> Notes:</i></h4>
      <div id="add_style_button"><button type="submit" style="color:gray" onclick="Add_toggle('note_add_div')"><i class="material-icons">add</i></button></div>
    </li>

    <p id="style_desc">Delete note and edit note buttons will delete/edit the respective note.</p>

      </div>
          <ul>
            <div class="d-flex align-items-start">
            <div class="nav flex-column" style="padding-bottom:10px" id="v-pills-tab" role="tablist" aria-orientation="vertical">


            {% for content in notes_list %}
              <li><a class="nav-link" id="n{{content.id}}-tab" name="notes" data-bs-toggle="tab" data-bs-target="#n{{content.id}}" type="button" role="tab" aria-controls="n{{content.id}}" aria-selected="false">{{content.title}}</a></li>

            {% endfor %}
          </div>
          </div>

          </ul>


      </ul>



</div>

</div>
</div>
<!-- end of sidebar elements  -->



{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/TDV/notes_page.js' %}"></script>
{% endblock %}
