{% extends "TDV/base.html" %}

{% block title %}TDV{% endblock %}

{% block navlink %}
<li class="nav-item">
  <a class="nav-link" href="/TDV/notes_page">Notes</a>
</li>
{% endblock %}

{% block content %}
<div class="text_center" id="tdv_index">
  <h1>Welcome to TDV!</h1>

  {% if error %}
  <p id="log_link">You are not logged in please log-in <span onclick="login_element()"><a href="#">here</a></span></p>

  {% endif %}

  <br>
  <p class="subject_style">This is a note application, you can create/delete/edit notes and bullet elements.</p>
  <p class="subject_style">On TDV you can use <a href="https://www.markdownguide.org/getting-started/">Markdown</a> to style your notes.<br> You can learn more about how to use Markdown <a href="https://www.markdownguide.org/basic-syntax/">here.</a><br></p>

  <br>
  <h4 id="n_button" class="d-grid gap-2 col-6 mx-auto"><a class="btn btn-outline-info btn-lg" href="/TDV/notes_page">Click here to go to the notes page!</a></h4>
  <br>
  <p class="subject_style">for more projects visit: <a href="/projects">www.hinacio.com/projects</a></p>
</div>

{% endblock %}

{% block javascript %}
<script>

function login_element(){
  window.open("https://hinacio.com/login", "login", "toolbar=yes,scrollbars=yes,resizable=yes,width=500,height=600");
}


if ($('body').width() < 768){
  $("#n_button").removeClass("col-6")
}

</script>
{% endblock %}
