body {
  background-color: black;
  color:white;

}

#background_register_image {
  position:fixed;
  top:0;
  z-index: 0;
  overflow: hidden;
  background: url(/static/background/background-register.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#background_login_image {
  position:fixed;
  top:0;
  z-index: 0;
  overflow: hidden;
  background: url(/static/background/background-login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#background_home_image {
  position:fixed;
  top:0;
  z-index: 0;
  overflow: hidden;
  background: url(/static/background/background-home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input_style{
  padding: 5px;
}

.style_content{
  width: 90%;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px
}

.background_content {
  background-color: #121212f5;
  border: 2px solid black;
  width: 40%;
  height: auto;
  position:fixed;
  left:0;
  right:0;
  margin:auto;
  top:2%;
  z-index: 2;

}

.navbar{
  width: 100%;
  text-align: center;
}


.navbar-brand{
  margin-left:5px;
  padding: 2px;
  font-size: 22px;
  font-weight:bold;
  color:white !important;
}


.p_base_style{
  width:70%;
  margin:auto;
  line-height: 27px;
  font-family: Kdam Thmor Pro;
  font-size: 19px;
  color: gray;
}

.p_base_style{
  width:70%;
  margin:auto;
  line-height: 27px;
  font-family: Kdam Thmor Pro;
  font-size: 19px;
  color: gray;
}

.p_base_style a{
  color:#28ebe4e3;
}

.p_base_style a:hover{
  color: #9bfffb;

}

.blur {
  width:100%;
  height:100%;
  pointer-events: none;
  background-size:cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  }



#home_style{
  width: 90%;
  text-align: center;
  height: 97%;
}



#button_auth_style{
  float:left;
  margin:2px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 5px;

}
#button_auth_style :hover{
  color:black;
}

#g_style{
  color:gray;
  text-decoration: none;
  font-size: 9px;
  margin:2px;

}

#p_style{
  color:gray;
  font-size: 15px;
}

#t_style{
  font-weight:bold;
  font-family: Kdam Thmor Pro;
}

#t_style a{
  color: #9e9e9e;
}

#t_style a:hover{
  color: white;
}


@media screen and (max-width: 768px){
  .input_style{padding: 2px}
  .background_content {width: 92%; top:0}
  .style_content {font-size:11px;}
  .p_base_style {font-size: 15px !important;}
  .navbar-brand{font-size:18px;}
  #t_style li{font-size: 15px}

}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
