body {
  background-color: black;
  color:white;

}

#background_register_image {
  position:fixed;
  top:0;
  z-index: 0;
  overflow: hidden;
  background: url(background/background-register.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#background_login_image {
  position:fixed;
  top:0;
  z-index: 0;
  overflow: hidden;
  background: url(background/background-login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#background_home_image {
  position:fixed;
  top:0;
  z-index: 0;
  overflow: hidden;
  background: url(background/background-home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.input_style{
  padding: 5px;
}

.style_content{
  width: 90%;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px
}

.background_content {
  background-color: #121212;
  border: 2px solid black;
  width: 40%;
  height: auto;
  position:fixed;
  left:0;
  right:0;
  margin:auto;
  top:2%;
  z-index: 2;

}

.navbar{
  width: 100%;
  text-align: center;
}


.navbar-brand{
  margin-left:5px;
  padding: 2px;
  font-size: 22px;
  font-weight:bold;
  color:white !important;
}


.p_base_style{
  width:80%;
  margin:auto;
  font-family: Serif;
  font-size: 19px;
  color: gray;
}


.blur {
  width:100%;
  height:100%;
  pointer-events: none;
  background-size:cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  }



#home_style{
  width: 90%;
  text-align: center;
  height: 97%;
}

#home_style a{
  color: #9e9e9e;
}

#home_style a:hover{
  color: #493dfc;
}

#button_auth_style{
  float:left;
  margin:2px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 5px;

}
#button_auth_style :hover{
  color:black;
}

#g_style{
  color:gray;
  text-decoration: none;
  font-size: 9px;
}

#p_style{
  color:gray;
  font-size: 15px;
}

#n_div {
    position:relative;


    top:0;
    left:0;


    height:100%;
    width:auto;


    transition: margin-left .5s;
    padding: 16px;
    color:white;


    }

#t_style{
  font-weight:bold;
}

#p_size {
  font-size:27px !important;
}

#title_n {
  text-align:center;
}

#bottom_p {
  position:fixed;
  bottom:0;
  right:0;

}

#add_style_button{
  background-color: transparent;
  color:white;
  border: black;
  float:right;
}

#add_style_button :hover{
  color:blue;

}


#b_style {
  background-color: transparent;
  border: black;


}

#b_style :hover{
  color:blue;

}


#content_n {
   font-family: karma;
   line-height: 2em;
   font-size: 21.3px;
   text-align: center;
   margin: 8px 20%;
   color: white;

}

#title_s {
  padding: 5px;
  color:white;
  padding-bottom: 17px;
  font-family: 'Courier New', monospace;

}

#title_s h1:hover{
  color:gray;
}



#button_p {
  position:fixed;
  bottom: 10px;
  right:30px;
  margin: 10px;


}

#top_nav {
  width: 100%;
  margin: auto;
  border: 2px solid black;
}

#add_n {
  position:fixed;
  bottom: 10px;
  width: 60%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 58px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;



}

.sidenav a {
  padding: 1px 1px 1px 12px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}



@media screen and (max-width: 968px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}

@media screen and (max-width: 768px){
  .input_style{padding: 2px}
  .background_content {width: 92%; top:0}
  .style_content {font-size:11px;}
  .p_base_style {font-size: 15px !important;}
  .navbar{font-size:13px}
  .navbar-brand{font-size:17px;}
  #t_style{font-size: 20px}



}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
