{% extends 'login/base.html' %}

{% block title %} Password Recover {% endblock %}

{% block content %}
<div class="blur" id="background_home_image">
</div>

<div class="background_content">

<div class="style_content">

{% if logged %}
<div>
  <a href="/home">Home</a>
</div>

{% else %}
  <h2>Password Recover</h2>

  <p>Enter your email address below, and we'll email the recover instructions to it!</p>

  <form id="ResetP" method="post" class="row g-3 needs-validation" novalidate >
    {% csrf_token %}
    <div>
      <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <div class="invalid-feedback" id="feedback-email">
          {% if validation_email%}
            Email already in use!
          {% endif %}
        </div>
        <div style="margin-top:5px; margin-bottom:8px;">
          <button class="btn btn-outline-light btn-sm" type="submit">Recover password</button>
        </div>
      </div>
  </form>
{% endif %}

</div>
</div>

{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/recover/password_reset.js' %}"></script>
{% endblock %}
