{% extends "PTs/layout.html" %}

{% block title %} Password Recover {% endblock %}

{% block content %}

{% if form.errors %}
<h4>{{form.new_password2.errors}}</h4>
{% endif %}
<form method="post">
  {% csrf_token %}
  <div class="col-md-3">
    <label for="new_password1" class="form-label">New Password</label>
    <input type="password" class="form-control {{new_password_validation}}" aria-describedby="newpass1Help" placeholder="New Password"  id="new_password1" name="new_password1" required>
    <div id="newpass1Help" class="form-text">Passwords must have more than 8 characteres and less than 64!</div>
    <div id="newpass1Help" class="form-text">Passwords must have at least a letter and a number </div>
  </div>
  <div class="col-md-3">
    <label for="new_password2" class="form-label">New Password Verification</label>
    <input type="password" class="form-control {{password_validation}}" aria-describedby="newpass2Help" placeholder="New Password verification" id="new_password2" name="new_password2" required>
    <div id="newpass2Help" class="form-text">Passwords must match!</div>
    <input type="checkbox" class="form-check-input" id="s_pass">
    <label class="form-check-label" for="exampleCheck1">Show Password</label>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>


<script>
document.addEventListener('DOMContentLoaded',() => {

    document.querySelector('#s_pass').onclick = () => {
      if (document.querySelector('#new_password1').type === "password") {
          document.querySelector('#new_password1').type = Text
          document.querySelector('#new_password2').type = Text
          document.querySelector('#old_password').type = Text
        }
      else {
          document.querySelector('#new_password1').type = "password"
          document.querySelector('#new_password2').type = "password"
          document.querySelector('#old_password').type = "password"
      }
    };
  });

</script>
{% endblock %}
