{% extends 'login/base.html' %}

{% block title %} Password Recover {% endblock %}

{% block content %}
<div class="blur" id="background_home_image">
</div>

<div class="background_content">

<div class="style_content">


{% if logged %}
<div>
  <a href="/home">Home</a>
</div>

{% else %}
<form id="ResetForm" method="post" class="row g-3 needs-validation" novalidate >
  {% csrf_token %}
  <div class="input_style">
    <label for="new_password1" class="form-label">New Password</label>
    <input type="password" class="form-control {{new_password_validation}}" aria-describedby="newpass1Help" placeholder="New Password"  id="password1" name="new_password1" required>
    <div id="newpass1Help" class="form-text">Passwords must have more than 8 characteres and less than 64!</div>
    <div id="newpass1Help" class="form-text">Passwords must have at least a letter and a number </div>
    <div class="invalid-feedback" id="feedback-pass1">

    </div>
  </div>
  <div class="input_style">
    <label for="new_password2" class="form-label">New Password Verification</label>
    <input type="password" class="form-control {{password_validation}}" aria-describedby="newpass2Help" placeholder="New Password verification" id="password2" name="new_password2" required>
    <div id="newpass2Help" class="form-text">Passwords must match!</div>
    <div class="invalid-feedback" id="feedback-pass2">

    </div>
    <input type="checkbox" class="form-check-input" id="s_pass">
    <label class="form-check-label" for="exampleCheck1">Show Password</label>
    <div>
      <button class="btn btn-outline-light btn-sm" type="submit">Submit</button>
    </div>
</form>

{% endif %}

</div>
</div>

{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/recover/password_reset_form.js' %}"></script>
{% endblock %}
