{% extends 'login/base.html' %}

{% block title %} Password Recover {% endblock %}

{% block content %}
<div class="blur" id="background_home_image">
</div>

<div class="background_content">

<div class="style_content">

{% if logged %}
<div>
  <a href="/home">Home</a>
</div>

{% else %}
<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		   Your password has been reseted!
		  </p>
		  <p class="m-auto p-2">
		   Return to the log in page to log on your account
		  </p>
		  <p class="m-auto p-2"><a href="/login">Login</a></p>
	</div>
</div>
{% endif %}

</div>
</div>

{% endblock %}
