{% load static %}
<!DOCTYPE html>

<html>
  <head lang="en">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="chat(MSA) application, more projects at 'https://www.hinacio.com/projects'">

    <link rel="shortcut icon" type="image/png" href="{% static 'icon/favicon.png' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>
  <style>
      ul {
        list-style-type: none;
        margin-left: 10px;
        padding: 0;
          }
      .nav-link {
        margin: auto;
        padding: auto;
        color: white;
      }

  </style>
  <body>



    {% block content %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/MSA/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
