{% block content %}
<p id="style_user_t">{{user2}}</p><p id="m_not"></p>

<div id="add_style_button"><button type="button" onclick="remove_element{{room}}('chat{{room}}')"><span class="material-icons md-18">close</span></button>
<button type="button" id="maximize" onclick="maximize('chat{{room}}')"><span class="material-icons md-18">crop_square</span></button>
<button type="button" onclick="minimize('chat{{room}}')"><span class="material-icons md-18">minimize</span></button></div>

<div class="style_content">
<div>


<div id="display{{room}}"></div>

<hr style="width:100%">
<form id='form{{room}}' action="" method="post">
  {% csrf_token %}
    <div>
      <input type="text" class="form-control focus" style="float:left; margin:5px; width:61%" placeholder="Message" id="content{{room}}" aria-describedby="inputGroupPrepend" name="content" required>
      <input type="hidden" id="time{{room}}" name="time" value="{% now () %}">
      <input type="hidden" id="name{{room}}" name="name" value="{{user}}">
      <button class="btn btn-outline-light btn-sm" style="margin:5px" type="submit">Submit</button>
    </div>

</form>
</div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script> // Post the form and display the message

  $(document).on('submit','#form{{room}}',function(e){
    e.preventDefault();
    var name = $('#name{{room}}').val()
    var content = $('#content{{room}}').val()
    var csrf = $('input[name=csrfmiddlewaretoken]').val()
    var time = $("#time{{room}}").val()
    if (content != ""){

      setTimeout(function(){
            $.ajax({
                type: 'POST',
                url: '/messages/{{id1}}/{{id2}}',
                data: {
                        name:name,
                        content:content,
                        csrfmiddlewaretoken:csrf,
                      }
            });
          }, 1000)

        var p_msg = document.createElement("p")
        p_msg.setAttribute("class", "p_msg")
        p_msg.innerHTML = content

        var p_time = document.createElement("p")
        p_time.setAttribute("class", "p_time")
        p_time.innerHTML = time


        document.querySelector('#display{{room}}').append(p_msg, p_time)
        document.getElementById('content{{room}}').value = ''

        }
      });

$(document).ready(function(){
  $("#chat_div").attr("id", "chat{{room}}") // The chat display must have a
  msg_r{{room}}()                                    // unique id, so I add it here.

  $("#m_not").html("")
  document.title = "MSA Menu"
});

// Query for new messages every 4 seconds
var m_timer{{room}} = setInterval(new_messages, 4000)

function new_messages(){
    $.ajax({
        type: 'GET',
        url : "/check/{{room}}",
        success: function(response){
            if (response.new_messages == "yes" && document.getElementById(response.time) == null ){
              msg_r{{room}}()

              if (minimized){
                $("#m_not").html("(!)")
                document.title = "MSA Menu (!)"
                }
              }
            }
        })
};


function msg_r{{room}}(){
    $.ajax({
        type: 'GET',
        url : "/messages/{{id1}}/{{id2}}",
        success: function(response){
            $("#display{{room}}").empty();
            for (var key in response.messages)
            {
                var p_msg = document.createElement("p")
                var p_time = document.createElement("p")
                if (response.messages[key].user == "{{user2}}"){
                  p_msg.setAttribute("class", "p_msg2")
                  p_time.setAttribute("class", "p_time2")
                  console.log("2")

                }
                else{
                  p_msg.setAttribute("class", "p_msg")
                  p_time.setAttribute("class", "p_time")
                  console.log("1")


                }

                p_time.setAttribute("id", response.messages[key].time)


                p_msg.innerHTML = response.messages[key].content
                p_time.innerHTML = response.messages[key].time


                $("#display{{room}}").append(p_msg, p_time);
            }
        },
    });
};


function remove_element{{room}}(element){
  $("#" + element).remove()
  clearInterval(m_timer{{room}})

  if ({{user.id}} == {{id2}}){
    $("button[name="+{{id1}}+"]").attr("disabled", false) // re-enable the button.

  }
  else{
    $("button[name="+{{id2}}+"]").attr("disabled", false) // re-enable the button.

  }
}


if ($('body').width() < 1000){
    $(".chat_div").css("width","100%")
    $(".chat_div").css("max-width","100%")
  }
</script>


{% endblock %}
