{% extends "PTs/layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<h1>Hello {{user1}}!</h1>
<h4> Room requests:<h4>
<div id="rooms"></div>
<h4>--------</h4>

<h3> Search for a user!</h3>
<form action="/search" method="post" name="list_users">
  {% csrf_token %}
  <div class="form-group mt-3">
    <input type="hidden" name="id1" value="{{user1.id}}">
    <input class="form-control" list="l_user" required name="id2" placeholder="Find a user">
    <datalist id="l_user">
      {% for u in list %}
        <option value="{{u.id}}">{{u}}</option>
      {% endfor %}
    </datalist>
    <button type="submit" class="mt-1 btn btn-lg btn-secondary"> Start Chat! </button>
  </div>
</form>


{% endblock %}

{% block javascript %}
<script> // Every 4 seconds query for new room invites 

$(document).ready(function(){
setInterval(function(){
    $.ajax({
        type: 'GET',
        url : "/room_request",
        success: function(response){

            $("#rooms").empty();
            for (var key in response.requests)
            {
                var temp="<a href=/chat/"+response.requests[key].request_from+"/"+response.requests[key].request_to+">Room:"+response.requests[key].room+" </a>";

                $("#rooms").append(temp);
            }
        },
    });
},4000);
})

</script>
{% endblock %}
